<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<div class="container">
  <div class="row">
    <h1>New contact created successfully</h1>
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>@Model.GetFirstName() @Model.GetLastName()</h4>
        </div>
        <div class="panel-body">
          <p><strong>Email address:</strong></p>
          <p>@Model.GetEmail()</p>
          <p><strong>Phone number:</strong></p>
          <p>@Model.GetPhone()</p>
          <p><strong>Mailing address:</strong></p>
          <p>
            @Model.GetAddress().GetStreet()<br>
            @Model.GetAddress().GetCity(), @Model.GetAddress().GetState(), @Model.GetAddress().GetZip()
          </p>
        </div>
      </div>
      <p><a href="/contact/form">Add another contact</a></p>
      <p><a href="/">Return to contact list</a></p>
    </div>
  </div>
</div>
